.game-board {
	display: flex;
	flex-wrap: wrap;
	width: 600px;
	margin: auto;
}

.card {
	width: 100px;
	height: 100px;
	margin: 10px;
	background-color: #fff;
	border: 2px solid #000;
	cursor: pointer;
}
